/*
	Main CSS Stylesheet for MySurvey Project
	Boston University MET CS673
	Software Engineering
	Fall 2013
*/


body
{
	margin: 0;
	padding: 0;
	color: #555;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	background: #222;
}

#page
{
	background: #fff;
}



h1 {
	font-weight: 200;
	font-size: 40px;
	margin-top: 10px;
}

h4 {
	clear: both;
}

.button,
input[type="submit"],
input[type="button"] {
	width: 208px;
	height: 18px;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	padding: 15px 0;
	margin: 0 5px;
	border-radius: 10px;
	color: #fff;
	border: 1px solid #1c74b3;
	border-top-color: #2c8ed1;
	border-bottom-color: #0d5b97;
	background: #2181cf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37a3eb", endColorstr="#2181cf");
	background: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
	background: -moz-linear-gradient(top, #37a3eb, #2181cf);
	-moz-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-webkit-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-moz-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
}

.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37a3eb", endColorstr="#1e73b9");
	background: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#1e73b9));
	background: -moz-linear-gradient(top, #37a3eb, #1e73b9);
}

.breadcrumbs {
	display: none;
}

.form ul li a {
	color: #6cb3cc;
}

.form ul {
	padding-left: 0;
	padding-bottom: 15px;
}

.form ul li {
	list-style: none;
}

a {
	cursor: pointer;
	color: #fff;
	text-decoration: underline;
	font-weight: 400;
}

a:hover {
	text-decoration: none;
}


.row a {
	color: #6cb3cc;
}


#sidebar
{
	padding: 20px 20px 20px 0;
}


#footer
{
	padding: 15px;
	font-size: 12px;
	text-align: center;
	background: #222;
	color: #fff;
	clear: both;
	min-height: 60px;
}

#footer p {
	color: #fff;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	width: 19%;
	position: relative;
	float: left;
	margin-top: 20px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: block;
	padding: 10px 0;
}

#mainmenu ul li a
{
	color:#6cb3cc;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}



/* SURVEYS -- VIEW ALL */

#new {
	padding-left: 13px;
}

#published,
#unpublished {
	background: #f1f1f1;
	padding: 20px;
	margin-left: 20px;
	margin-top: 40px;
	border: 2px solid #c8e2ea;
}

#unpublished {
	margin-bottom: 50px;
}

#published h2,
#unpublished h2 {
	/*text-transform: uppercase;*/
	font-size: 13px;
	margin: 0 0 15px;
	color: #666;
	/*background: #e3e3e3;
	padding: 10px 15px;*/
}

#published p,
#unpublished p {
	width: 100%;
	margin-left: 30px;
}



.survey-lists {
	margin: 0 0 5px;
	-webkit-padding-start: 0;
}

.survey-lists li {
	background: #6eb4cd;
	padding: 10px 15px;
	list-style: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 7px;
}

.survey-lists li a {
	float: right;
	padding-left: 10px;
	text-decoration: none;
	font-size: 12px;
	text-transform: none;
	font-weight: 400;
	color: #F0F8FF;
}

.survey-lists li a:hover {
	text-decoration: underline;
	color: #fff;
}


/* SURVEY EDITOR */

.note {
	color: #a5a5a5;
	display: none;
}

#toolbar {
	background: #666;
	color: #fff;
	padding: 10px;
	margin-left: 15px;
}

#survey-name {
	width: 60%;
	position: relative;
	display: inline;
}

#survey-name h2 {
	margin: 0 0 0 10px;
	font-size: 17px;
	display: inline;
	font-weight: 500;
}


#sub-menu {
	display: inline-block;
	float: right;
	width: 250px;
	position: relative;
	font-size: 14px;
}

#sub-menu ul {
	display: inline;
}

#sub-menu ul li {
	display: inline;
	padding-right: 10px;
	border-right: 1px solid #222;
	padding-left: 10px;
}

#sub-menu ul li a {
	color: #ccc;
	text-decoration: none;
}

#sub-menu ul li a:hover {
	text-decoration: underline;
}

#sub-menu ul li:last-child {
	padding-right: 0;
	border-right: none;
}

#main-editor {
	padding-top: 20px;
}

p.placeholder {
	width: 100%;
	margin-left: 15px;
	padding-bottom: 50px;
}



#name-url {
	margin-top: 20px;
	margin-left: 15px;
	background: #e3e3e3;
	padding: 10px 20px;
}

#name-url h4 {
	margin: 0 0 5px;
	font-size: 14px;
	text-transform: uppercase;
}

#name {
	width: 300px;
	float: left;
}


    
.question_summary{
    height:10px;
    width:500px; 
    border:1px solid #5887A2;
    background:#A1DCE7;
    padding: 8px 20px;
    margin: 5px 0px;
}
.question_summary .order_number{
    float: left;
}
.question_summary a{
    float:right;
    margin-left: 10px;
}



#question-editor {
	width: 510px;
	float: left;
}

#question-editor h3 {
	font-weight: 200;
	text-transform: uppercase;
	font-size: 22px;
	padding-left: 15px;
}

#question-editor a {
	margin-left: 15px;
}

#question-sidebar {
	width: 200px;
	float: right;
	background: #e3e3e3;
	padding: 10px;
	min-height: 400px;
	margin-bottom: 20px;
}

#question-sidebar h4 {
	margin: 10px 5px 25px;
	text-transform: uppercase;
	font-size: 15px;
}

#advanced {
	padding-top: 50px;
}

#question-sidebar a {
	background: #666;
	color: #fff;
	text-decoration: none;
	padding: 8px 20px;
	font-size: 13px;
	border-radius: 10px;
	font-weight: 700;
	border: 2px solid #fff;
}

#question-sidebar a:hover {
	background: #2c8ed1;
}

#question-sidebar p {
	width: 100%;
	margin: 0 5px;
}



/* PAGE TEMPLATE */

#header {
	background: #568c9e;
	height: 65px;
}

#logo-container {
	width: 300px;
	float: left;
}

#headerLogo {
	width: 225px;
	padding-top: 4px;
}

#content {
	width: 77%;
	margin: 0 auto;
	text-align: left;
	float: left;
}

.content-area {
	width: 980px;
	margin: 0 auto;
	clear: both;
	min-height: 500px;
}

.content-area #content {
	/*border-left: 1px solid #e3e3e3;*/
	padding-left: 30px;
	margin-top: 20px;
}

.page-name {
	padding-left: 15px;
}

.page-name h1 {
	font-weight: 200;
	font-size: 40px;
	margin-top: 10px;
}

#logout {
	width: auto;
	position: relative;
	float: right;
	margin-top: 25px;
	color: #fff;
}

#logout ul {
	list-style-type: none;
}


#logout a {
	background: #005a82;
	color: #fff;
	text-decoration: none;
	padding: 8px 20px;
	font-size: 12px;
	border-radius: 10px;
	font-weight: 700;
	border: 2px solid #c8e2ea;
	margin-left: 15px;
}

#logout a:hover {
	background: #0079af;
}



/* -------------------------- */
/* -------- HOMEPAGE -------- */
/* -------------------------- */

#home #page
{
	background: url(../img/hp-background.jpg) no-repeat 50% 0 fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	left: 0;
}


#home #header
{
	margin: 0 auto;
	padding: 0;
	width: 980px;
	height: auto;
	background: transparent;
}

#home #content
{
    padding: 40px;
	width: 980px;
	margin: 0 auto;
	text-align: center;
	float: none;
}

#home h1 {
	font-family: "Open Sans";
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

#home p {
	font-size: 15px;
	font-weight: lighter;
	width: 46%;
	margin: 0 auto;
	line-height: 22px;
	color: #d5f1f9;
}

.makeCenter {
	margin: 0 auto;
	width: 400px;
}


#appLogo {
	width: 400px;
	margin-top: 100px;
}

#login-logout {
	min-height: 300px;
	padding-top: 50px;	
}

#login-logout .button {
	margin-bottom: 15px;
}

#sign-in:hover {
	text-decoration: none;
}

#top-half {
	padding-bottom: 50px;
}

#login,
#register {
	padding-top: 35px;	
}

input[type="submit"],
input[type="button"] {
	cursor: pointer;
	padding-bottom: 30px;
	margin-top: 25px;
	margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
	-webkit-box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
	box-shadow: 0 0 0 #000,inset 0px 3px 3px #eee;
	/*border: 1px solid #bfbfbf;*/
	border: 1px solid #6eb4cd;
	padding: 5px;
	margin-bottom: 5px;
	
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 13px;
	color: #444;
	font-weight: normal;
	
	width: 204px;

}

.rememberMe {
	color: #fff;
	padding-top: 15px;
}

.errorMessage {
	text-align: left;
	width: auto;
	margin: 0 auto;
	padding-bottom: 15px;
	
	background: #eed3d7;
	color: #a21636;
	float: left;
	padding: 5px 15px;
	margin-top: 3px;
	
	font-size: 12px;
}


login .error, register .error{
	padding-left: 382px;
}
.errorSummary {
	display: none;
}

.error .arrow-left {
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent; 
	
	border-right:8px solid #eed3d7;
	
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

#survey-question-form .errorMessage,
#survey-form .errorMessage {
	padding: 7px 15px;
}

#survey-question-form .error .errorMessage,
#survey-form .error .errorMessage,
.error .arrow-left{
        margin-top:6px;
}

#survey-question-form .success input,
#survey-form .success input{
        border-color: green;
}

#survey-question-form input[type="text"],
#survey-form input[type="text"] {
	float: left;
        font-size: 23px;
        width:530px;
}

.error input[type="text"],
.error input[type="password"] {
	border: 1px solid #a73a35;
	float: left;
}

.row {
	clear: both;
}





/* -------- Homepage: Learn More -------- */

#learn-more {
	border-bottom: 2px dotted #666;
	position: absolute;
	bottom: 30px;
	width: 980px;
}

#learn-more p {margin-bottom: 15px;}


#about {
	text-align: left;
	padding-left: 25px;
}

#about h1 {
	padding-top: 95px;
	font-weight: lighter;
	font-size: 30px;
}

#about p {
	margin: 0;
	width: 100%;
}

.text {
	width: 45%;
	float: left;
	position: relative;
}
.image {
	position: relative;
	float: right;
}

.image img{
	padding-top: 50px;
}

#feature-1,
#feature-2 {
	clear: both;
	padding-top: 50px;
}

#feature-1 .image {
	float: left;
}
#feature-1 .text {
	float: right;
}

#feature-2 img {
	margin-bottom: 80px;
}

#signup-button {
	clear: both;
	padding: 65px 0 50px;
}



/*DRAGGABLES*/

[draggable="true"]{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
#sortable li{
    cursor: move;
}
.dragging{
    border: 2px dashed;
    margin:-1px;
    background:#E4F5F8;
}